In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
data_frame = pd.read_csv("/Users/sriramkurnella/AI/Machine Learning A-Z (Codes and Datasets)/Part 2 - Regression/Section 4 - Simple Linear Regression/Python/Salary_Data.csv")

In [4]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 608.0 bytes

In [5]:
data_frame.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [ ]:
feature_vector = [data_frame['YearsExperience'].tolist()]
result_vector = [data_frame['Salary'].tolist()]

In [ ]:
def hypothesis(X_vector , features , index):
    hyp_index = theta_vector[0]
    for i in range(0 , len(features)) :
        hyp_index += features[i][index] * theta_vector[i+1]
    
    return hyp_index